* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #cdcbdf;  
  display: flex;
  justify-content: center;
  /* align-items: center;  */
  height: 100vh;
}

.app {
  background: #fff;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 400px;
  margin-top: 50px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  justify-content: space-between;
}

#new-task {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 10px;
}

#add-task {
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#add-task:hover {
  background-color: #218838;
}

ul {
  list-style: none;
  margin-top: 20px;
}

li {
  background: #f8faf8;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
}

li p{
  cursor: pointer;
}

li.completed {
  text-decoration: line-through;
  color: #6c757d;
}

li .fa-check {
  color: #28a745;
  margin-right: 10px;
  cursor: pointer;
}
li .icons {
  display: flex;
  gap: 10px;
}
li .icons i {
  cursor: pointer;
}
li .fa-check {
  color: #28a745;
}

li .fa-xmark {
  color: #dc3545;
  padding-left: 10px;
}

li .fa-pen {
  color: #ffc107;
}

button.delete {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

button.delete:hover {
  background-color: #c82333;
}

.completed-ul{
  list-style: none;
  margin-top: 20px;
}

.completed-li{
  background: #5cbf3e;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
}

.completed-li p{
  color: white;
}

.clear-div{
  display: flex;
  justify-content: space-between;
}